<!DOCTYPE html>
<html>
<head>
    <title>Rezerwacja wizyty</title>
   </head>
<body>
    <h1>Rezerwacja wizyty</h1>

    <!-- Sekcja do wyświetlania komunikatów -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Formularz do rezerwacji -->
    <form method="post" action="{% url 'schedule_reservation' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Rezerwuj">
    </form>
    
</body>
</html>
